@import url('https://fonts.googleapis.com/css2?family=IBM+Plex');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    /* font-family: 'Vina Sans', cursive; */
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: inherit;
    
}

body {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
    grid-template-rows: 1fr;
    gap: 0 1vmin;
    padding: 1vmin;
    height: 100vh;
    align-items: stretch;
}

.slider {
    display: grid;
    gap: 5% 0;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    grid-auto-rows: max-content;
    font-size: 1em;
    /* color: crimson; */
}

.slider > div:not(.track) {
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.slider .label {
    text-align: right;
    grid-column-end: -1;
}

.slider .track {
    --x: 0px;
    grid-column: 1/-1;
    height: 1lh;
    position: relative;
    border-radius: 0.1lh;
    background: rgb(209, 207, 207) linear-gradient(to right, rgba(0, 0, 0, 0.5) 0 var(--x), transparent var(--x) 100%);
}

.slider .thumb {
    top: 0;
    left: 0;
    width: 2%;
    width: 1.5ex;
    height: 1lh;
    position: absolute;
    border-radius: 0.1lh;
    background-color: black;
    translate: calc(var(--x) - 50%);
    transform: scale(1.1);
    transform-origin: center;
}

.preview {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1vmin;
}

.preview .data {
    display: grid;
    gap: 0.5lh 0;
    align-items: center;
    text-transform: capitalize;
    grid-template-columns: 8ch 1fr;
}

.preview .data input[type="number"] {
    font-size: 1em;
}

button {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5lh 0;
    text-transform: uppercase;
    font-size: 1.25em;
    border-radius: 0.2lh;
}

#pred {
    width: 100%;
    aspect-ratio: 1;
}

.select {
    margin-top: 5px;
    display: flex;
    gap: 1ex;
    justify-content: center;
    align-self: stretch;
}

.select > * {
    flex-grow: 1;
    padding: 0.25lh;
    font-size: 0.9em;
}

.select .clicked {
    background-color: hsla(348, 83%, 50%, 0.1);
}

canvas {
    border-radius: 0.5ex;
    box-shadow: inset 0 0 2ex rgba(0, 0, 0, 0.1);
}

#medium {
    width: 100%;
}

input[type="color"] {
    appearance: none;
    background-color: transparent;
    border: none;
    height: 5ex;
    width: 100%;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    width: 100%;
    border-radius: 0.5ex;
}

input[type="number"] {
    appearance: none;
    border: none;
    border-bottom: 1px solid black;
    width: 5ch;
}
